{% extends 'base.html' %}
{% load render_assets %}

{% block title %}{{ thread.name }} – {% if is_closed_view %}Closed /{% endif %}
Observation Journal{% endblock %}

{% block content %}
<!-- Vue entry-point -->


<div class="observations page">
    <div class="cont">
        {% include "menu.html" %}

        <header class="header">
            <h1>{{ thread.name }}</h1>
        </header>

        <p class="menu observation with-badges">
            <a href="{% url 'public-observation-list' thread.id %}">Open <span class="badge">{{ open_count }}</span></a>
            {% if closed_count > 0 %}
                <a href="{% url 'public-observation-list-closed' thread.id %}">Closed <span class="badge">{{ closed_count }}</span></a>
            {% endif %}
            <a href="{% url 'public-observation-add' thread.id %}">+ Add</a>
        </p>
    </div>
        {% for observation in object_list %}
        <article class="observation" id="observation-{{ observation.pk }}">

            <div class="meta">{{ observation.pub_date }} · <span class="type">{{ observation.type }}</span> · <a href="{% url 'public-observation-edit' observation.thread.id observation.id %}">edit</a></div>
            <p class="label">Situation</p>
            <div class="situation">{{ observation.situation|linebreaks }}</div>

            <div class="expand">
            <p class="label">Interpretation</p>
            <div class="interpretation">{{ observation.interpretation|linebreaks }}</div>
            <p class="label">Approach</p>
            <div class="approach">{{ observation.approach|linebreaks }}</div>

            {% if observation.updates_from_latest %}
                <hr class="just-line">

                {% for update in observation.updates_from_latest %}
                    <div class="update">
                        <p class="label">Update on {{ update.pub_date|date:"Y-m-d" }}</p>
                        <div>
                            {{ update.comment | linebreaks }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if observation.date_closed %}

            <hr class="just-line">

            <div class="closed meta">
                <em>Closed on {{ observation.date_closed }}</em>
            </div>
            {% endif %}
            </div>
        </article>

        {% empty %}
        <div class="empty">
            {% if is_closed_view %}
                No observations were yet closed. If you are done one of your observations, set a close date on it.
            {% else %}
                No observations yet. Create first observation with <a href="{% url 'public-observation-add' thread.id %}">+ Add</a>.
            {% endif %}
        </div>
        {% endfor %}
</div>

{% endblock %}

<!-- Load Vue app -->
{% block extrajs %}
{% endblock %}

