<div class="cont">
    <p class="menu">
        {% if thread %}
        <span class="link-section">Thread: {{ thread.name }}</span>
        
        <span class="link-section">
            <a href="{% url 'public-observation-list' thread.id %}">Open</a>
            <a href="{% url 'public-observation-list-closed' thread.id %}">Closed</a>
            <a href="{% url 'public-observation-add' thread.id %}">+Add</a>
        </span>

        {% endif %}
        <span class="link-section">
            <a href="/">+Thread</a>
        </span>
    </p>
</div>