* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.14rem;

    color: #444;

    background: #f3f3f7;
}

h1, h2, h3, h4, h5, h6, .heading {
    font-family: "Raleway", sans-serif;
    font-weight: 700;

    &.black {
        font-weight: 900;
    }

    &.thin {
        font-weight: 100;
    }
}

strong, b, .strong {
    font-weight: 700;
}

.page {
    max-width: 1140px;

    padding: 0 20px;

    margin: 0 auto;
}

.new-thread {
    section.how-to {
        margin: 4rem 0;

    }
}

.thread-form {
    background: #205e7d;
    border-radius: 4px;

    padding: 2rem 2rem;

    color: #fff;

    h2 {
        margin-top: 0;
    }

    label {
        display: none;
    }

    form p {
        display: inline;
    }

    input, button {
        font-size: 1.5rem;
        padding: 9px 20px;

        border-radius: 3px;
        border: 1px solid lighten(#205e7d, 30%);
        background: lighten(#205e7d, 10%);

        color: #fff;

        outline: none;
    }

    button:hover, button:active {
        background: lighten(#205e7d, 5%);
    }
}

.observation-edit {

    width: 75%;

    min-width: 1140px;
    margin: auto;

    padding-top: 1px;

    .cont {
        margin-left: 20px;
        margin-right: 20px;
    }

    h2, h3 {
        color: #999;
    }

    .form {
        display: flex;

    }

    .left, .right {
        margin: 0 20px;
        flex: 1;
    }

    label {
        display: block;
    }

    textarea {
        width: 100%;
        border: 1px solid #f4f9f9;

        &:focus, &:hover {
            border: 1px solid #eee;
        }

        outline:none;

        font-size: 1rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;

        color: #205e7d;

        padding: 0.45rem 0.75rem;
    }

    .form {
        display: flex;
    }

    .left, .right {
        margin: 0 20px;
        flex: 1;
    }

    label {
        display: block;
    }

    textarea {
        width: 100%;
        border: 1px solid #f4f9f9;

        &:focus, &:hover {
            border: 1px solid #eee;
        }

        outline:none;

        font-size: 1rem;
        font-family: 'Raleway', sans-serif;

        color: #205e7d;

        padding: 0.45rem 0.75rem;


    }

    .helptext {
        font-size: 0.9em;
        color: #999;
    }
}


.menu a, .menulink {
    color: #205e7d;
    text-decoration: none;

    margin-left: 10px;

    font-weight: normal;

    &:first-child {
        margin-left: 0;
    }

    &:hover, &:active {
        color: lighten(#205e7d, 25%);
    }
}

.menu.observation {

    margin-top: 3rem;
    margin-bottom: 0;

    a {
        background: white;
        border-radius: 3px;        

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        padding: 10px 1rem 10px;

        display: inline-block;
    }
}

.badge {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;

    text-align: center;

    font-size: 0.9em;
}

h2 .menulink {
    margin-left: 0;
}

h1 + .cont .menu a:first-child {
    margin-left: 40px;
}

h1, h2 {
    .focus {
        color: #666;
        font-weight: 400;

        margin-left: 6px;
    }
}

.cont + article.quest.fall {
    margin-top: 2rem;
}


.vh60 {
    height: 60vh;
}

.observations {
    max-width: 1140px;

    font-size: 1.1rem;

    margin: auto;

    .cont + article {
        border-top-left-radius: 0;

        margin-top: 0;
    }  
}

article.observation {
    position: relative;

    margin: 4rem 0;

    background: #fff;
    border-radius: 4px;
    padding: 1rem 2rem;

    .expand {
        display: none;
    }

    &.open .expand {
        display: block;
    }

    .observation-hide {
        color: #4a7dfb;
        cursor: pointer;

        &::after {
            display: block;

            content: "More";
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 4px 6px;
        }

        &:hover {
            color: darken(#4a7dfb, 20%);
        }
    }

    &.open .observation-hide {
        &::after {
            content: "Less";
        }

        &::before {
            display: block;

            content: "Less";
            position: absolute;
            top: 0;
            right: 0;
            padding: 4px 6px;
        }
    }

    .label + div p:first-child {
        margin-top: 0.25rem;
    }

    .strong {
        color: #444;
        font-weight: bold;

        margin: 1rem 0;
    }

    .label {
        color: #000;
        font-weight: 700;
        margin-top: 1.5rem;
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
    }

    .meta {
        color: #999;

        a {
            color: #999;
        }

        + .label {
            margin-top: 1rem;
        }
    }

    .type {
        color: #ca8911;
    }
}

.observation-list {
    li {
        line-height: 1.4;
    }

    .closed {
        opacity: 50%;
    }
}

.just-line {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    height: 1px;
}

.cont .cont {
    margin-left: 0 !important;
    margin-right: 0 !important;
}